{% extends "base.html" %}

{% block page_header %}
    <div class="page-header">
        <h1>Do you love python? <a href="#" class="btn btn-default" data-target="#voteWindow" data-toggle="modal">Go ahead</a></h1>
    </div>

    <div class="modal fade" id="voteWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Vote to become a part of history</h4>
                </div>
                <div class="modal-body">
                    <p>What do you like in Python?</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="checkbox" aria-label="..." value="1" id="val1" name="vote">
                                <label for="val1" class="label-checkbox">Easy to read</label>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="checkbox" aria-label="..." value="2" id="val2" name="vote">
                                <label for="val2" class="label-checkbox">Easy to use</label>
                            </div><!-- /input-group -->
                        </div><!-- /col-lg-6 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="checkbox" name="vote" id="val3" value="3">
                                <label for="val3" data-toggle="popover" data-placement="right" data-container="body"
                                       class="label-checkbox"
                                       data-content="Python may become popular for the Internet of things, as new platforms such as Raspberry Pi are based on it">
                                    Internet of things opportunities
                                </label>
                            </div><!-- /input-group -->
                        </div><!-- /col-lg-6 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="checkbox" aria-label="..." value="4" id="val4" name="vote">
                                <label for="val4" class="label-checkbox">Asynchronous coding benefits</label>
                            </div><!-- /input-group -->
                        </div><!-- /col-lg-6 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="checkbox" aria-label="..." value="5" id="val5" name="vote">
                                <label for="val5" class="label-checkbox">Multiparadigm approach bests Java</label>
                            </div><!-- /input-group -->
                        </div><!-- /col-lg-6 -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group width100">
                                 <span class="input-group-checkbox">
                                    <input type="checkbox" aria-label="..." value="6" id="val6" name="vote">
                                 </span>
                                <input type="text" class="form-control" placeholder="your variant...">
                            </div><!-- /input-group -->
                        </div><!-- /col-lg-6 -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">I'm not a fan</button>
                    <button type="button" class="btn btn-primary">Yep, I'm a fan!</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block content %}
    <h3>The Zen of Python, by Tim Peters</h3>

    <ul class="list-group">
    <li class="list-group-item">Beautiful is better than ugly.</li>
    <li class="list-group-item">Explicit is better than implicit.</li>
    <li class="list-group-item">Simple is better than complex.</li>
    <li class="list-group-item">Complex is better than complicated.</li>
    <li class="list-group-item">Flat is better than nested.</li>
    <li class="list-group-item">Sparse is better than dense.</li>
    <li class="list-group-item">Readability counts.</li>
    <li class="list-group-item">Special cases aren't special enough to break the rules.</li>
    <li class="list-group-item">Although practicality beats purity.</li>
    <li class="list-group-item">Errors should never pass silently.</li>
    <li class="list-group-item">Unless explicitly silenced.</li>
    <li class="list-group-item">In the face of ambiguity, refuse the temptation to guess.</li>
    <li class="list-group-item">There should be one-- and preferably only one --obvious way to do it.</li>
    <li class="list-group-item">Although that way may not be obvious at first unless you're Dutch.</li>
    <li class="list-group-item">Now is better than never.</li>
    <li class="list-group-item">Although never is often better than *right* now.</li>
    <li class="list-group-item">If the implementation is hard to explain, it's a bad idea.</li>
    <li class="list-group-item">If the implementation is easy to explain, it may be a good idea.</li>
    <li class="list-group-item">Namespaces are one honking great idea -- let's do more of those!</li>
    </ul>
{% endblock %}

{% block js_footer %}
    <script>
    $("label[data-toggle='popover']").popover({animation: true});
    </script>
{% endblock %}